.caption{
    margin-top: 150px;
    font-style: italic;
}

.header-img{
    width: 100%;
}

.object{
    width: 128px;
    height: 128px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.object:hover{
    filter: unset;
    -webkit-filter: unset;
    cursor: pointer;
}

.img-round{
    border-radius: 100%;
}