<div class="page-body">
  <div class="container-fluid">
    <div>
      <div class="row">
        <ngb-carousel class="header-img">
          <ng-template ngbSlide>
            <img class="img img-fluid" src="assets/images/slider/slide1.jpg" alt="Random first slide">
            <div class="carousel-caption">
              <h2>PayApp</h2>
              <h4>A convenient and easy way to pay Fees</h4>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="img img-fluid" src="assets/images/slider/slide2.jpg" alt="Random second slide">
            <div class="carousel-caption">
              <h2>PayApp</h2>
              <h4>You no longer have to wait in queues</h4>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="img img-fluid" src="assets/images/slider/slide3.jpg" alt="Random third slide">
            <div class="carousel-caption">
              <h2>PayApp</h2>
              <h4>Just sit at home and pay your child's fees</h4>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="img img-fluid" src="assets/images/slider/slide4.jpg" alt="Random third slide">
            <div class="carousel-caption">
              <h2>PayApp</h2>
              <h4>Fee payment made easy</h4>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <hr>
    <div [@fadeInOutTranslate] class="text-center row">
      <div class="col-md-6">
        <img class="img img-fluid" src="assets/images/landing/parent.jpg" alt="parent image">
      </div>
      <div class="col-md-6 caption">
        <h1>Just sit at home and pay your child's fees</h1>
      </div>
    </div>
    <hr>
    <div [@fadeInOutTranslate] class="text-center row">
      <div class="col-md-6  caption ">
        <h1>No more hustle about fee collection</h1>
      </div>
      <div class="col-md-6">
        <img class="img img-fluid" src="assets/images/landing/school.jpg" alt="school image">
      </div>
    </div>
    <hr>
    <div class="row">
      <div [@slideInOut] class="text-center col-md-3">
        <img src="assets/images/landing/simple.jpeg" alt="simple" class="img object img-fluid img-round">
        <div>
          <h4>simple</h4>
        </div>
      </div>
      <div [@slideInOut] class="col-md-3 text-center">
        <img src="assets/images/landing/secure.png" alt="secure" class="object img img-fluid">
        <div>
          <h4>secure</h4>
        </div>
      </div>
      <div [@slideInOut] class="text-center col-md-3">
        <img src="assets/images/landing/fast.png" alt="fast" class="object img img-fluid">
        <div>
          <h4>fast</h4>
        </div>
      </div>
      <div [@slideInOut] class="text-center col-md-3">
        <img src="assets/images/landing/convenient.png" alt="convenient" class="img object img-fluid">
        <div>
          <h4>convenient</h4>
        </div>
      </div>
    </div>
    <hr>
    <div class="row col-md-12 btn-grd-success">
      <div class="col-md-6">
        <app-contact></app-contact>
      </div>
      <div class="col-md-6">
          <app-about></app-about>
      </div>
    </div>
</div>