<section class="login bg-recover p-fixed d-flex text-center bg-primary common-img-bg">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <!-- Authentication card start -->
          <div class="login-card card-block auth-body mr-auto ml-auto">
            <form class="md-float-material" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="text-center">
                <!-- <img src="assets/images/logo.png" alt="logo.png"> -->
                <h3>Payapp - Reset Password</h3>
              </div>
              <div class="auth-box">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3 class="text-left">Change your password</h3>
                  </div>
                </div>
                <p class="text-inverse b-b-default text-right">Back to <a [routerLink]="['/auth/login']">Login.</a></p>
                <div class="input-group">
                  <input class="form-control" placeholder="Your Email Address">
                  <span class="md-line"></span>
                </div>
                <div class="input-group">
                  <input class="form-control" type="password" placeholder="Enter new password">
                </div>
                <div class="input-group">
                  <input class="form-control" type="password" placeholder="Confirm password">
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Reset Password</button>
                  </div>
                </div>
              </div>
            </form>
            <!-- end of form -->
          </div>
          <!-- Authentication card end -->
        </div>
        <!-- end of col-sm-12 -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
  </section>
  