<div class="page-body">
  <div class="container-fluid">
    <div class="row">
      <ngb-carousel class="header-img">
        <ng-template ngbSlide>
          <img class="img img-fluid" src="assets/images/faq/faq1.jpeg" alt="Random first slide">
          <div class="carousel-caption">
            <h2 class="text-info">PayApp</h2>
            <h4 class="text-info">FAQ</h4>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img img-fluid" src="assets/images/faq/faq2.jpg" alt="Random second slide">
          <div class="carousel-caption">
            <!-- <h2>Do you have questions?</h2> -->
            <h4 class="text-left text-black">We have answers</h4>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img img-fluid" src="assets/images/faq/faq3.jpeg" alt="Random second slide">
          <div class="carousel-caption">
            <!-- <h2>Want to know something?</h2> -->
            <h4 class="text-right text-black">We have got you covered</h4>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12 col-xl-12 col-sm-12">
        <ngb-accordion [closeOthers]="false" #acc="ngbAccordion" class="ngb-accordion">
          <ngb-panel class="row" id="ngb-close-p1" title="How do I pay?">
            <ng-template ngbPanelContent>
              <p>
                You first have to create an account. After creating an account you add your children into the system.
                After adding your child, you open the transactions tab in your dashboard and select make payment.
                You fill in the details then confirm the transaction on your mobile device.
              </p>
            </ng-template>
          </ngb-panel>
          <hr>
          <ngb-panel class="row" id="ngb-close-p2" title="How do the schools get their money?">
            <ng-template ngbPanelContent>
              <p>
                After the transaction has been confirmed and processed, the money gets sent to the merchant account.
                The administrator with the click of a button sends the money into the schools account.
              </p>
            </ng-template>
          </ngb-panel>
          <hr>
          <ngb-panel class="row" id="ngb-close-p3" title="How do I view my transactions?">
            <ng-template ngbPanelContent>
              <p>
                Open your transactions tab in your dashboard and select view payments
              </p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>