<div id="pcoded" class="pcoded"
     [attr.nav-type]="navType"
     [attr.theme-layout]="themeLayout"
     [attr.vertical-placement]="verticalPlacement"
     [attr.vertical-layout]="verticalLayout"
     [attr.pcoded-device-type]="pcodedDeviceType"
     [attr.vertical-nav-type]="verticalNavType"
     [attr.vertical-effect]="verticalEffect"
     [attr.vnavigation-view]="vnavigationView"
     [attr.fream-type]="freamType"
     [attr.sidebar-img]="sidebarImg"
     [attr.sidebar-img-type]="sidebarImgType"
     [attr.layout-type]="layoutType"
     (window:resize)="onResize($event)"
>
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" [attr.header-theme]="headerTheme" [attr.pcoded-header-position]="pcodedHeaderPosition">
      <div class="navbar-wrapper">
        <div class="navbar-logo">
          <a [routerLink]="['/dashboard/default/']">
            <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" />
          </a>
          <a href="javascript:" class="mobile-options" (click)="toggleHeaderNavRight()">
            <i class="icon-more"></i>
          </a>
        </div>
        <div class="navbar-container container-fluid">
          <ul class="nav-left">
            <li>
              <div class="sidebar_toggle"><a href="javascript:"><i class="icon-menu"></i></a></div>
            </li>
            <li class="header-search">
              <div id="main-search" class="main-search morphsearch-search">
                <div class="input-group">
                  <span class="input-group-addon search-close" (click)="searchOff()"><i class="icon-close"></i></span>
                  <input class="form-control" [style.width]="searchWidthString">
                  <span class="input-group-addon search-btn" (click)="searchOn()"><i class="icon-search"></i></span>
                </div>
              </div>
            </li>
            <li appToggleFullScreen>
              <a href="javascript:">
                <i class="icon-fullscreen"></i>
              </a>
            </li>
          </ul>
          <ul [@mobileHeaderNavRight]="navRight" [ngClass]="navRight" class="nav-right">
            <li (clickOutside)="notificationOutsideClick('live')" class="header-notification" [ngClass]="liveNotificationClass" (click)="toggleLiveNotification()">
              <a href="javascript:">
                <i class="icon-bell"></i>
                <span class="badge bg-c-pink"></span>
              </a>
              <ul [@notificationBottom]="liveNotification" class="show-notification">
                <li>
                  <h6>Notifications</h6>
                  <label class="label label-danger">New</label>
                </li>
                <li>
                  <div class="media">
                    <img class="d-flex align-self-center img-radius" src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="notification-user">John Doe</h5>
                      <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                      <span class="notification-time">30 minutes ago</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <img class="d-flex align-self-center img-radius" src="assets/images/avatar-4.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="notification-user">Joseph William</h5>
                      <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                      <span class="notification-time">30 minutes ago</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <img class="d-flex align-self-center img-radius" src="assets/images/avatar-3.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="notification-user">Sara Soudein</h5>
                      <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                      <span class="notification-time">30 minutes ago</span>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li (clickOutside)="notificationOutsideClick('profile')" class="user-profile header-notification" [ngClass]="profileNotificationClass" (click)="toggleProfileNotification()">
              <a href="javascript:">
                <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                <span>John Doe</span>
                <i class="icon-angle-down"></i>
              </a>
              <ul [@notificationBottom]="profileNotification" class="show-notification profile-notification">
                <li>
                  <a href="javascript:">
                    <i class="icon-settings"></i> Settings
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/user/profile/']">
                    <i class="icon-user"></i> Profile
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/email/inbox/']">
                    <i class="icon-email"></i> My Messages
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/authentication/lock-screen/']">
                    <i class="icon-lock"></i> Lock Screen
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/authentication/login/']">
                    <i class="icon-layout-sidebar-left"></i> Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="login offline-404 p-fixed d-flex text-center">
      <!-- Container-fluid starts -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <!-- auth body start -->
            <div class="auth-body">
              <form action="javascript:">
                <h1>Offline</h1>
                <h2>Oops! Website Is Temporarily Offline</h2>
                <div class="left-icon-control">
                  <input type="text" class="form-control form-control-lg" placeholder="Try a new Search">
                  <div class="form-icon">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
                <a [routerLink]="['/']" class="btn btn-primary btn-lg m-t-30">Back to Home</a>
              </form>
            </div>
            <!-- auth body end -->
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
