<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-card>
        <div class="container">
          <div class="card-header">
            <!-- <h5 class="card-header-text">Account Info</h5> -->
            <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="toggleEditAccount()">
              <i class="fa {{ editAccountIcon }}"></i>
            </button>
            &nbsp;
            <button class="btn btn-sm btn-danger waves-effect waves-light f-right" (click)="removeAccount()">
              <i class="fa fa-trash"></i>
            </button>
          </div>
          <div *ngIf="isLoading">
            <h6 class="text-center">Please wait while we fetch your data</h6>
            <div class="loader-block">
              <svg id="loader2" viewBox="0 0 100 100">
                <circle class="loader-info" id="circle-loader2" cx="50" cy="50" r="45"></circle>
              </svg>
            </div>
          </div>
          <div *ngIf="!isLoading" class="card-body">
            <div *ngIf="ret === undefined">
              <h1>Sorry :(</h1>
              <p>An error occured while retrieving the data</p>
            </div>
            <div class="view-info" *ngIf="editAccount">
              <div class="row">
                <div class="col-lg-12">
                  <div class="general-info">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="table-responsive">
                          <table class="table m-0">
                            <tbody>
                              <tr>
                                <th scope="row" id="accountName">Account Name</th>
                                <td>{{ret.accountName}}</td>
                              </tr>
                              <tr>
                                <th scope="row">Account Number</th>
                                <td>{{ret.accountNumber}}</td>
                              </tr>
                              <tr>
                                <th scope="row">Account Type</th>
                                <td>{{ret.accountType}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of general info -->
                </div>
                <!-- end of col-lg-12 -->
              </div>
              <!-- end of row -->
            </div>
            <!-- end of view-info -->
            <div class="edit-info" *ngIf="!editAccount">
              <form [formGroup]="account" (ngSubmit)="update()">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="general-info">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="table-responsive">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                      </span>
                                      <input type="text" [formControl]="account.controls['accountName']" value="{{ret.accountName}}" class="form-control" placeholder="{{ret.accountName}}">
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <input [formControl]="account.controls['accountNumber']" value="{{ret.accountNumber}}" class="form-control" type="text" placeholder="{{ret.accountNumber}}"
                                    />
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <select [formControl]="account.controls['accountProvider']" class="form-control">
                                      <option value="">--------- Choose Your Account Provider ------------</option>
                                      <option value="airtel">Airtel</option>
                                      <option value="mtn">MTN</option>
                                      <option value="tigo">TiGO</option>
                                      <option value="vodafone">Vodafone</option>
                                    </select>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <!-- end of row -->
                      <div class="text-center">
                        <button class="btn btn-primary waves-effect waves-light m-r-20" [disabled]="!account.valid" (click)="update()">Save</button>
                        <button id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditAccount()">Cancel</button>
                      </div>
                    </div>
                    <!-- end of edit info -->
                  </div>
                  <!-- end of col-lg-12 -->
                </div>
              </form>
              <!-- end of row -->
            </div>
            <!-- end of edit-info -->
          </div>
        </div>
        <button id="goBack" title="Go back" class="btn btn-info btn-icon" (click)="goBack()">
          <i class="fa fa-arrow-left"></i>
        </button>
      </app-card>
    </div>
  </div>
</div>