<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xl-12">
      <app-card>
        <simple-notifications [options]="notiOptions"></simple-notifications>
        <form [formGroup]="form" (ngSubmit)="submit()">

          <fieldset class="form-group" [ngClass]="{'form-control-danger': form.controls['firstName'].hasError('required') && form.controls['firstName'].touched}">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" [ngClass]="{'form-control-danger': form.controls['firstName'].hasError('required') && form.controls['firstName'].touched}"
              [formControl]="form.controls['firstName']" id="firstName" placeholder="First Name">
            <div class="col-form-label" *ngIf="form.controls['firstName'].touched && form.controls['firstName'].hasError('required')">First Name is required</div>
          </fieldset>

          <fieldset class="form-group" [ngClass]="{'form-control-danger': form.controls['lastName'].hasError('required') && form.controls['lastName'].touched}">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" [ngClass]="{'form-control-danger': form.controls['lastName'].hasError('required') && form.controls['lastName'].touched}"
              [formControl]="form.controls['lastName']" id="lastName" placeholder="Last Name">
            <div class="col-form-label" *ngIf="form.controls['lastName'].touched && form.controls['lastName'].hasError('required')">Last Name is required</div>
          </fieldset>

          <fieldset class="form-group" [ngClass]="{'form-control-danger': form.controls['dobString'].touched && form.controls['dobString'].hasError('required')}">
            <label for="dob">Date of Birth</label>
            <input id="dob" type="date" class="form-control" [formControl]="form.controls['dobString']" [ngClass]="{'form-control-danger': form.controls['dobString'].hasError('required') && form.controls['dobString'].touched}">
            <div class="col-form-label" *ngIf="form.controls['dobString'].touched && form.controls['dobString'].hasError('required')">Date of Birth is required</div>
            <!-- <div class="col-form-label" *ngIf="form.controls['age'].touched && form.controls['age'].hasError('maxLength')">Max Length of age should be 2</div> -->
          </fieldset>

          <fieldset class="form-group" [ngClass]="{'form-control-danger': form.controls['school'].hasError('required') && form.controls['school'].touched}">
            <label for="school">School</label>
            <select class="form-control" id="school" [formControl]="school" [ngClass]="{'form-control-danger': form.controls['school'].hasError('required') && form.controls['school'].touched}">
              <option *ngFor="let school of schools" value="{{school.name}}">{{school.name}}</option>
            </select>
            <div class="col-form-label" *ngIf="form.controls['school'].hasError('required') && form.controls['school'].touched">School is required</div>
          </fieldset>

          <fieldset class="form-group" [ngClass]="{'form-control-danger': form.controls['grade'].hasError('required') && form.controls['grade'].touched}">
            <label for="grade">Class</label>
            <input class="form-control" [formControl]="form.controls['grade']" [ngClass]="{'form-control-danger': form.controls['grade'].hasError('required') && form.controls['grade'].touched}"
              placeholder="Class (Eg. SHS1, Primary 1, etc)" />
            <div class="col-form-label" *ngIf="form.controls['grade'].touched && form.controls['grade'].hasError('required')">Class is required</div>
          </fieldset>

          <fieldset class="form-group row m-t-30">
            <div class="align-right col-md-12">
              <button type="submit" [disabled]="!form.valid" class="btn col-sm-5 btn-grd-primary btn-round btn-md waves-effect text-center m-b-20">Add Child</button>
              <button type="reset" class="btn btn-grd-danger btn-round col-sm-5 btn-md waves-effect text-center m-b-20">Clear Form</button>
            </div>
          </fieldset>
        </form>
      </app-card>
    </div>
  </div>
</div>