<footer class="footer bg-info text-white">
  <div class="container-fluid">
    <div class="row m-b-1">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="footer-widget">
          <h6>
            <img src="assets/images/logo.png" class="avatar-xs" alt="">
          </h6>
          <p>&copy; {{date.getFullYear()}} PayApp</p>
          <br/>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="footer-widget">
          <h6 class="footer-title">Product</h6>
          <ul>
            <li>
              <a [routerLink]="['/']">Demo</a>
            </li>
            <li>
              <a [routerLink]="['/docs']">Documentation</a>
            </li>
            <li>
              <a (click)="goToFeatures()">Features</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="footer-widget">
          <h6 class="footer-title">Tools</h6>
          <ul>
            <li>
              <a href="https://cli.angular.io" target="_blank">angular-cli</a>
            </li>
            <li>
              <a href="https://nodejs.org/en/" target="_blank">NodeJS</a>
            </li>
            <li>
              <a href="https://angular.io/" target="_blank">Angular 4</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="footer-widget">
          <h6 class="footer-title">Support</h6>
          <ul>
            <li>
              <a href="https://themeforest.net/user/iamnyasha?ref=iamnyasha" target="_blank">Leave a comment</a>
            </li>
            <li>
              <a href="https://themeforest.net/user/iamnyasha?ref=iamnyasha" target="_blank">Send an email</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>