<div id="pcoded" class="pcoded" [attr.nav-type]="navType" [attr.theme-layout]="themeLayout" [attr.vertical-placement]="verticalPlacement"
  [attr.vertical-layout]="verticalLayout" [attr.pcoded-device-type]="pcodedDeviceType" [attr.vertical-nav-type]="verticalNavType"
  [attr.vertical-effect]="verticalEffect" [attr.vnavigation-view]="vnavigationView" [attr.fream-type]="freamType" [attr.sidebar-img]="sidebarImg"
  [attr.sidebar-img-type]="sidebarImgType" [attr.layout-type]="layoutType" (window:resize)="onResize($event)">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar navbar-top header-navbar pcoded-header" [attr.header-theme]="headerTheme" [attr.pcoded-header-position]="pcodedHeaderPosition">
      <div class="navbar-wrapper">
        <div class="navbar-logo">
          <a [routerLink]="['/']">
            <!-- <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" /> -->
            <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">PayApp</h2>
          </a>
          <a href="javascript:" class="mobile-options" (click)="toggleHeaderNavRight()">
            <i class="icon-more"></i>
          </a>
        </div>
        <div [attr.pcoded-header-position]="pcodedHeaderPosition" class="navbar-container container-fluid">
          <ul [@mobileHeaderNavRight]="navRight" [ngClass]="navRight" class="nav-right">
            <li>
              <a class="nav-link" [routerLink]="['/', 'home']">Home</a>
            </li>
            <!-- <li>
              <a class="nav-link" [routerLink]="['/', 'contact']">Contact</a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['/', 'about']">About Us</a>
            </li> -->
            <li>
              <a class="nav-link" [routerLink]="['/', 'faq']">Faq</a>
            </li>
            <li *ngIf="loggedIn" (clickOutside)="notificationOutsideClick('profile')" class="user-profile header-notification" [ngClass]="profileNotificationClass"
              (click)="toggleProfileNotification()">
              <a href="javascript:">
                <span>Hello {{name}}</span>
                <i class="icon-angle-down"></i>
              </a>
              <ul [@notificationBottom]="profileNotification" class="show-notification profile-notification">
                <li>
                  <a class="nav-link" [routerLink]="['/', 'user']">
                    <i class="icofont icofont-user"></i>Profile
                  </a>
                </li>
                <li>
                  <a (click)="logout()">
                    <i class="icon-layout-sidebar-left"></i> Logout
                  </a>
                </li>
              </ul>
            </li>
            <li *ngIf="!loggedIn">
              <a class="nav-link" [routerLink]="['/', 'auth', 'login']">Sign In</a>
            </li>
            <li *ngIf="!loggedIn" (clickOutside)="notificationOutsideClick('profile')" class="user-profile header-notification" [ngClass]="profileNotificationClass"
              (click)="toggleProfileNotification()">
              <a href="javascript:">
                <span>Sign Up</span>
                <i class="icon-angle-down"></i>
              </a>
              <ul [@notificationBottom]="profileNotification" class="show-notification profile-notification">
                <li>
                  <a class="nav-link" [routerLink]="['/', 'auth', 'registration', 'parent']">
                    Parent
                  </a>
                </li>
                <li>
                  <a class="nav-link" [routerLink]="['/', 'auth', 'registration', 'school']">
                    School
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="pcoded-main-container" [style.margin-top]="headerFixedMargin">
      <div class="pcoded-wrapper">
        <div class="container-fluid">
          <div class="pcoded-content">
            <div class="pcoded-inner-content">
              <!-- Main-body start -->
              <div class="main-body">
                <div class="page-wrapper">
                  <router-outlet>
                    <app-spinner></app-spinner>
                  </router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <footer class="modal-footer bg-info text-white">
        <div class="container-fluid">
          <div class="row ">
            <div>
              <div class="footer-widget">
                <h6>
                  <!-- <img src="assets/images/logo.png" class="avatar-xs" alt=""> -->
                </h6>
                <p>&copy; {{date.getFullYear()}} PayApp</p>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>