<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xl-12">
      <simple-notifications [options]="notiOptions"></simple-notifications>
      <app-card>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div *ngIf="isLoading">
            <h6 class="text-center">Please wait while we add your account</h6>
            <div class="loader-block">
              <svg id="loader2" viewBox="0 0 100 100">
                <circle class="loader-info" id="circle-loader2" cx="50" cy="50" r="45"></circle>
              </svg>
            </div>
          </div>
          <fieldset class="form-group">
            <label for="accountName">
              Account Name
            </label>
            <input id="accountName" class="form-control" [ngClass]="{'form-control-danger': form.controls['accountName'].hasError('required') && form.controls['accountName'].touched}"
              [formControl]="form.controls['accountName']" type="text" name="accountName" placeholder="Account Holder Name"
            />
            <div class="col-form-label text-danger" *ngIf="form.controls['accountName'].hasError('required') && form.controls['accountName'].touched">Account Name is Required</div>
          </fieldset>
          <fieldset class="form-group">
            <label for="accountNumber">
              Account Number
            </label>
            <input type="number" maxlength="10" [formControl]="form.controls['accountNumber']" class="form-control" [ngClass]="{'form-control-danger': form.controls['accountNumber'].hasError('required') && form.controls['accountNumber'].touched}"
              id="accountNumber" name="accountNumber" placeholder="Account Number" />
            <div class="col-form-label text-danger" *ngIf="form.controls['accountNumber'].hasError('required') && form.controls['accountNumber'].touched">Account Number is Required</div>
          </fieldset>
          <fieldset class="form-group">
            <label for="accountProvider">
              Account Provider
            </label>
            <select [ngClass]="{'form-control-danger': form.controls['accountProvider'].hasError('required') && form.controls['accountProvider'].touched}"
              class="ng-select form-control" name="accountProvider" [formControl]="form.controls['accountProvider']" id="accountProvider">
              <option value="">--------- Choose Your Account Provider ------------</option>
              <option value="airtel">Airtel</option>
              <option value="mtn">MTN</option>
              <option value="tigo">TiGO</option>
              <option value="vodafone">Vodafone</option>
            </select>
            <div class="col-form-label text-danger" *ngIf="form.controls['accountProvider'].hasError('required') && form.controls['accountProvider'].touched">Account Provider is Required</div>
          </fieldset>
          <fieldset class="row m-t-30">
            <div class="align-right col-md-12">
              <button type="submit" [disabled]="!form.valid" class="btn col-sm-5 btn-grd-primary btn-round btn-md waves-effect text-center m-b-20">Add Account</button>
              <button type="reset" class="btn btn-grd-danger btn-round col-sm-5 btn-md waves-effect text-center m-b-20">Clear Form</button>
            </div>
          </fieldset>
        </form>
      </app-card>
    </div>
  </div>
</div>