<div class="container">
  <div class="row center">
    <div class="col-sm-12  col-xl-12">
      <simple-notifications [options]="notiOptions"></simple-notifications>
      <app-card>
        <div *ngIf="isLoading">
          <h4>Please wait while we fetch your data</h4>
          <div class="loader-block">
            <svg id="loader2" viewBox="0 0 100 100">
              <circle class="loader-info" id="circle-loader2" cx="50" cy="50" r="45"></circle>
            </svg>
          </div>
        </div>
        <div *ngIf="!isLoading">
          <h5>All fields marked * are required</h5>
          <hr>
          <br/>
          <form>
            <fieldset class="form-group">
              <label for="child">Please Select A Child*</label>
              <select #child name="child" required="true" class="form-control" id="child" [(ngModel)]="selectedChild">
                <option value="">---Select A Child---</option>
                <option *ngFor="let opt of children" value="{{opt.childId}}">{{opt.firstName}} {{opt.lastName}}</option>
              </select>
              <!-- <span>Selected Child is: {{selectedChild}}</span> -->
            </fieldset>
            <!-- <fieldset *ngIf="selectedChild" class="form-group">
            <label for="school">Child School</label>
            <input required="true" class="form-control" id="school" placeholder="{{selectedChild.value}}" value="{{selectedChild.schoolName}}">
          </fieldset> -->
            <fieldset class="form-group">
              <label for="amount">Please Enter Amount*</label>
              <div class="input-group">
                <span class="input-group-addon">GHc</span>
                <input #amount required="true" class="form-control" id="amount" type="number" placeholder="Amount">
                <!-- <span class="input-group-addon">.00</span> -->
              </div>
            </fieldset>
            <fieldset class="form-group">
              <label for="account">Please Select Payment Account*</label>
              <select #account required="true" class="form-control" id="account">
                <option value="">---Select Payment Account---</option>
                <option *ngFor="let opt of accounts" value="{{opt.accountId}}">{{opt.accountNumber}}</option>
              </select>
            </fieldset>

            <fieldset class="form-group row m-t-30">
              <div class="align-right col-md-12">
                <button type="submit" (click)="makePayment(child?.value, amount?.value, account?.value)" class="btn col-sm-5 btn-grd-primary btn-round btn-md waves-effect text-center m-b-20">Pay Fees</button>
                <button type="reset" class="btn btn-grd-danger btn-round col-sm-5 btn-md waves-effect text-center m-b-20">Clear Form</button>
              </div>
            </fieldset>
          </form>
        </div>
      </app-card>
    </div>
  </div>
</div>