<div class="page-body">
  <!--profile cover start-->
  <div class="row">
    <simple-notifications [options]="notiO"></simple-notifications>
    <div class="col-lg-12">
      <div class="cover-profile">
        <div class="profile-bg-img">
          <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img1.jpg" alt="bg-img">
          <div class="card-block user-info">
            <div class="col-md-12">
              <div class="media-left">
                <a href="javascript:" class="profile-image">
                  <!-- <img class="user-img img-radius" src="assets/images/user-profile/user-img.jpg" alt="user-img"> -->
                </a>
              </div>
              <div *ngIf="!loading" class="media-body row">
                <div class="col-lg-12">
                  <div class="user-title">
                    <h2>{{user.name}}</h2>
                    <span class="text-white">{{type}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--profile cover end-->
  <div class="row">
    <div *ngIf="loading">
      <h3>Please Wait while we fetch your info</h3>
      <div class="loader-block">
        <svg id="loader2" viewBox="0 0 100 100">
          <circle class="loader-info" id="circle-loader2" cx="50" cy="50" r="45"></circle>
        </svg>
      </div>
    </div>
    <div *ngIf="!loading" class="col-lg-12">
      <div class="md-tabs md-card-tabs">
        <ngb-tabset>
          <ngb-tab title="Personal Info">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <!-- personal card start -->
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-header-text">About Me</h5>
                    <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="toggleEditProfile()">
                      <i class="icofont {{ editProfileIcon }}"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <div class="view-info" *ngIf="editProfile">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="general-info">
                            <div class="row">
                              <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                  <table class="table m-0">
                                    <tbody>
                                      <tr>
                                        <th scope="row">Full Name</th>
                                        <td>{{user.name}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Email</th>
                                        <td>{{user.email}}</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">Phone Number</th>
                                        <td>{{user.phone}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- end of table col-lg-6 -->
                            </div>
                            <!-- end of row -->
                          </div>
                          <!-- end of general info -->
                        </div>
                        <!-- end of col-lg-12 -->
                      </div>
                      <!-- end of row -->
                    </div>
                    <!-- end of view-info -->
                    <div class="edit-info" *ngIf="!editProfile">
                      <form>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="general-info">
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="table-responsive">
                                    <table class="table">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <div class="input-group">
                                              <span class="input-group-addon">
                                                <i class="icofont icofont-user"></i>
                                              </span>
                                              <input type="text" class="form-control" #name placeholder="{{user.name}}" value="{{user.name}}">
                                            </div>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <div class="input-group">
                                              <span class="input-group-addon">
                                                <i class="icofont icofont-mail"></i>
                                              </span>
                                              <input type="text" class="form-control" #email placeholder="{{user.email}}" value="{{user.email}}">
                                            </div>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <div class="input-group">
                                              <span class="input-group-addon">
                                                <i class="icofont icofont-phone"></i>
                                              </span>
                                              <input type="text" class="form-control" #phone placeholder="{{user.phone}}" value="{{user.phone}}">
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                                <!-- end of table col-lg-6 -->
                              </div>
                              <!-- end of row -->
                              <div class="text-center">
                                <a href="javascript:;" class="btn btn-primary waves-effect waves-light m-r-20" (click)="update(name?.value, email?.value, phone?.value)">Save</a>
                                <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditProfile()">Cancel</a>
                              </div>
                            </div>
                            <!-- end of edit info -->
                          </div>
                          <!-- end of col-lg-12 -->
                        </div>
                        <!-- end of row -->
                      </form>
                    </div>
                    <!-- end of edit-info -->
                  </div>
                  <!-- end of card-body -->
                </div>
                <!-- personal card end-->
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>