<nav class="navbar custom-navbar  landing-header no-shadow">
  <a class="navbar-brand" [routerLink]="['/home']">
    <img src="assets/images/logo.png" class="navbar-brand-logo" alt="">&nbsp;
  </a>
    <ul class="nav collapse navbar-collapse navbar-nav ml-auto hidden-sm-down">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['']">Home</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link hover dropdown-toggle" id="helpOptions" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
            Help
          </a>
          <div class="dropdown-menu" aria-labelledby="helpOptions">
            <a class="dropdown-item" [routerLink]="['/about']">About Us</a>
            <a class="dropdown-item" [routerLink]="['/contact']">Contact</a>
            <a class="dropdown-item" [routerLink]="['/faq']">FAQ</a>
            <a class="dropdown-item" [routerLink]="['/terms']">Terms &amp; Conditions</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/schools']">Schools</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="registerOptions" data-hover="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Register
        </a>
        <div class="dropdown-menu" aria-labelledby="registerOptions">
          <a class="dropdown-item" [routerLink]="['/authentication/signup/parent']">Parent</a>
          <a class="dropdown-item" [routerLink]="['/authentication/signup/school']">School</a>
        </div>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/authentication/signin']">Login</a>
        </li>
      </ul>
  <span class="mr-auto hidden-md-up"></span>
</nav>