<!-- <simple-notifications [options]="options"></simple-notifications> -->
<div class="page-body">
  <div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20">Orders Received</h6>
          <h2 class="text-right"><i class="icon-shopping-cart f-left"></i><span>486</span></h2>
          <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Sales</h6>
          <h2 class="text-right"><i class="icon-tag f-left"></i><span>1641</span></h2>
          <p class="m-b-0">This Month<span class="f-right">213</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Revenue</h6>
          <h2 class="text-right"><i class="icon-reload f-left"></i><span>$42,562</span></h2>
          <p class="m-b-0">This Month<span class="f-right">$5,032</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Profit</h6>
          <h2 class="text-right"><i class="icon-wallet f-left"></i><span>$9,562</span></h2>
          <p class="m-b-0">This Month<span class="f-right">$542</span></p>
        </div>
      </div>
    </div>
    <!-- order-card end -->

    <!-- statustic and process start -->
    <div class="col-lg-8 col-md-12">
      <app-card [title]="'Statistics'" [cardOptionBlock]="true">
        <div #statisticsChart >
          <div id="statistics_chart" style="height: 350px"></div>
        </div>
      </app-card>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Customer Feedback</h5>
        </div>
        <div class="card-block">
          <span class="d-block text-c-blue f-24 f-w-600 text-center">365247</span>
          <div #feedbackChart>
            <chart id="feedback_chart" [type]="'doughnut'" [data]="feedbackData" [options]="feedbackOption"></chart>
          </div>
          <div class="row justify-content-center m-t-15">
            <div class="col-auto b-r-default m-t-5 m-b-5">
              <h4>83%</h4>
              <p class="text-success m-b-0"><i class="icon-hand-point-up m-r-5"></i>Positive</p>
            </div>
            <div class="col-auto m-t-5 m-b-5">
              <h4>17%</h4>
              <p class="text-danger m-b-0"><i class="icon-hand-point-down m-r-5"></i>Negative</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- statistic and process end -->
    <div class="col-md-6 col-xl-3">
      <div class="card seo-card o-hidden">
        <div class="card-block seo-statustic">
          <i class="icon-server text-c-green"></i>
          <h5>65%</h5>
          <p>Memory Usage</p>
        </div>
        <div class="seo-chart" #seoCard1Chart>
          <chart id="seo-card1" [type]="'line'" [data]="seoCard1Data" [options]="seoCard1Option"></chart>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card seo-card o-hidden">
        <div class="card-block seo-statustic">
          <i class="icon-reload text-c-blue"></i>
          <h5>$46,845</h5>
          <p>Revenue</p>
        </div>
        <div class="seo-chart" #seoCard2Chart>
          <chart id="seo-card2" [type]="'line'" [data]="seoCard2Data" [options]="seoCard2Option"></chart>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card seo-card">
        <img src="assets/images/widget/seoimg2.jpg" alt="seo bg" class="img-fluid">
        <div class="overlay-bg"></div>
        <div class="card-block seo-content">
          <h6>New Users</h6>
          <p class="m-b-5 m-t-30"><i class="fa fa-caret-up text-c-green m-r-10"></i> +52%</p>
          <p class="m-b-0">Calculated in 7 days</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-3">
      <div class="card seo-card">
        <img src="assets/images/widget/seoimg3.jpg" alt="seo bg" class="img-fluid">
        <div class="overlay-bg"></div>
        <div class="card-block seo-content">
          <h6>Bounce Rate</h6>
          <p class="m-b-5 m-t-30"><i class="fa fa-caret-down text-c-pink m-r-10"></i> -82%</p>
          <p class="m-b-0">Calculated in 7 days</p>
        </div>
      </div>
    </div>

    <!-- tabs card start -->
    <div class="col-sm-12">
      <app-card [cardClass]="'tab-card'" [cardOptionBlock]="true">
        <div class="md-tabs">
          <ngb-tabset>
            <ngb-tab title="Home">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Image</th>
                        <th>Product Code</th>
                        <th>Customer</th>
                        <th>Purchased On</th>
                        <th>Status</th>
                        <th>Transaction ID</th>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod2.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002344</td>
                        <td>John Deo</td>
                        <td>05-01-2017</td>
                        <td><span class="label label-danger">Failed</span></td>
                        <td>#7234486</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod3.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002653</td>
                        <td>Eugine Turner</td>
                        <td>04-01-2017</td>
                        <td><span class="label label-success">Delivered</span></td>
                        <td>#7234417</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod4.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002156</td>
                        <td>Jacqueline Howell</td>
                        <td>03-01-2017</td>
                        <td><span class="label label-warning">Pending</span></td>
                        <td>#7234454</td>
                      </tr>
                    </table>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-primary btn-round btn-sm">Load More</button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Security">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Image</th>
                        <th>Product Code</th>
                        <th>Customer</th>
                        <th>Purchased On</th>
                        <th>Status</th>
                        <th>Transaction ID</th>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod3.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002653</td>
                        <td>Eugine Turner</td>
                        <td>04-01-2017</td>
                        <td><span class="label label-success">Delivered</span></td>
                        <td>#7234417</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod4.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002156</td>
                        <td>Jacqueline Howell</td>
                        <td>03-01-2017</td>
                        <td><span class="label label-warning">Pending</span></td>
                        <td>#7234454</td>
                      </tr>
                    </table>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-primary btn-round btn-sm">Load More</button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Entertainment">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Image</th>
                        <th>Product Code</th>
                        <th>Customer</th>
                        <th>Purchased On</th>
                        <th>Status</th>
                        <th>Transaction ID</th>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod1.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002413</td>
                        <td>Jane Elliott</td>
                        <td>06-01-2017</td>
                        <td><span class="label label-primary">Shipping</span></td>
                        <td>#7234421</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod4.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002156</td>
                        <td>Jacqueline Howell</td>
                        <td>03-01-2017</td>
                        <td><span class="label label-warning">Pending</span></td>
                        <td>#7234454</td>
                      </tr>
                    </table>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-primary btn-round btn-sm">Load More</button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Big Data">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Image</th>
                        <th>Product Code</th>
                        <th>Customer</th>
                        <th>Purchased On</th>
                        <th>Status</th>
                        <th>Transaction ID</th>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod1.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002413</td>
                        <td>Jane Elliott</td>
                        <td>06-01-2017</td>
                        <td><span class="label label-primary">Shipping</span></td>
                        <td>#7234421</td>
                      </tr>
                      <tr>
                        <td><img src="assets/images/product/prod2.jpg" alt="prod img" class="img-fluid"></td>
                        <td>PNG002344</td>
                        <td>John Deo</td>
                        <td>05-01-2017</td>
                        <td><span class="label label-danger">Failed</span></td>
                        <td>#7234486</td>
                      </tr>
                    </table>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-primary btn-round btn-sm">Load More</button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </app-card>
    </div>
    <!-- tabs card end -->

    <!-- social statustic start -->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-envelope text-c-blue d-block f-40"></i>
          <h4 class="m-t-20"><span class="text-c-blue">8.62k</span> Subscribers</h4>
          <p class="m-b-20">Your main list is growing</p>
          <button class="btn btn-primary btn-sm btn-round">Manage List</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-twitter text-c-green d-block f-40"></i>
          <h4 class="m-t-20"><span class="text-c-green">+40</span> Followers</h4>
          <p class="m-b-20">Your main list is growing</p>
          <button class="btn btn-success btn-sm btn-round">Check them out</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block text-center">
          <i class="fa fa-puzzle-piece text-c-pink d-block f-40"></i>
          <h4 class="m-t-20">Business Plan</h4>
          <p class="m-b-20">This is your current active plan</p>
          <button class="btn btn-danger btn-sm btn-round">Upgrade to VIP</button>
        </div>
      </div>
    </div>
    <!-- social statustic end -->

    <!-- users visite and profile start -->
    <div class="col-lg-4 col-md-12">
      <div class="card user-card">
        <div class="card-header">
          <h5>Profile</h5>
        </div>
        <div class="card-block">
          <div class="usre-image">
            <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
          </div>
          <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>
          <p class="text-muted">Active | Male | Born 23.05.1992</p>
          <hr/>
          <p class="text-muted m-t-15">Activity Level: 87%</p>
          <ul class="list-unstyled activity-leval">
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
            <li></li>
            <li></li>
          </ul>
          <div class="bg-c-blue counter-block m-t-10 p-20">
            <div class="row">
              <div class="col-4">
                <i class="icon-comments"></i>
                <p>1256</p>
              </div>
              <div class="col-4">
                <i class="icon-user"></i>
                <p>8562</p>
              </div>
              <div class="col-4">
                <i class="icon-bag"></i>
                <p>189</p>
              </div>
            </div>
          </div>
          <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <hr/>
          <div class="row justify-content-center user-social-link">
            <div class="col-auto"><a href="javascript:"><i class="fa fa-facebook text-facebook"></i></a></div>
            <div class="col-auto"><a href="javascript:"><i class="fa fa-twitter text-twitter"></i></a></div>
            <div class="col-auto"><a href="javascript:"><i class="fa fa-dribbble text-dribbble"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-12">
      <app-card [title]="'Activity Feed'" [cardOptionBlock]="true">
        <ul class="feed-blog">
          <li class="active-feed">
            <div class="feed-user-img">
              <img src="assets/images/avatar-3.jpg" class="img-radius " alt="User-Profile-Image">
            </div>
            <h6><span class="label label-danger">File</span> Eddie uploaded new files: <small class="text-muted">2 hours ago</small></h6>
            <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="row">
              <div class="col-auto text-center">
                <img src="assets/images/blog/blog-r-1.jpg" alt="img" class="img-fluid img-100">
                <h6 class="m-t-15 m-b-0">Old Scooter</h6>
                <p class="text-muted m-b-0"><small>PNG-100KB</small></p>
              </div>
              <div class="col-auto text-center">
                <img src="assets/images/blog/blog-r-2.jpg" alt="img" class="img-fluid img-100">
                <h6 class="m-t-15 m-b-0">Wall Art</h6>
                <p class="text-muted m-b-0"><small>PNG-150KB</small></p>
              </div>
              <div class="col-auto text-center">
                <img src="assets/images/blog/blog-r-3.jpg" alt="img" class="img-fluid img-100">
                <h6 class="m-t-15 m-b-0">Microphone</h6>
                <p class="text-muted m-b-0"><small>PNG-150KB</small></p>
              </div>
            </div>
          </li>
          <li class="diactive-feed">
            <div class="feed-user-img">
              <img src="assets/images/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
            </div>
            <h6><span class="label label-success">Task</span>Sarah marked the Pending Review: <span class="text-c-green"> Trash Can Icon Design</span><small class="text-muted"> 2 hours ago</small></h6>
          </li>
          <li class="diactive-feed">
            <div class="feed-user-img">
              <img src="assets/images/avatar-2.jpg" class="img-radius " alt="User-Profile-Image">
            </div>
            <h6><span class="label label-primary">comment</span> abc posted a task:  <span class="text-c-green">Design a new Homepage</span>  <small class="text-muted">6 hours ago</small></h6>
            <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </li>
          <li class="active-feed">
            <div class="feed-user-img">
              <img src="assets/images/avatar-3.jpg" class="img-radius " alt="User-Profile-Image">
            </div>
            <h6><span class="label label-warning">Task</span>Sarah marked : <span class="text-c-green"> do Icon Design</span><small class="text-muted"> 10 hours ago</small></h6>
          </li>
        </ul>
      </app-card>
    </div>
    <!-- users visite and profile end -->

  </div>
</div>
