<div class="container">
  <!-- Main content starts -->
  <div>
    <!-- Invoice card start -->
    <div *ngIf="isLoading">
      <h6 class="text-center">Please wait while we fetch your data</h6>
      <div class="loader-block">
        <svg id="loader2" viewBox="0 0 100 100">
          <circle class="loader-info" id="circle-loader2" cx="50" cy="50" r="45"></circle>
        </svg>
      </div>
    </div>

    <div *ngIf="!isLoading" class="card container">
      <div class="row invoice-contact">
        <div class="col-md-8">
          <div class="invoice-box row">
            <div class="col-sm-12">
              <table class="table table-responsive invoice-table table-borderless">
                <tbody>
                  <tr>
                    <!-- <td><img src="assets/images/logo-blue.png" class="m-b-10" alt=""></td> -->
                  </tr>
                  <tr>
                    <td><h3>PAYAPP Certificate of Payment</h3></td>
                  </tr>
                  <!-- <tr>
                    <td>208, Paris Point, Varachha Road, Surat. (1234) - 567891</td>
                  </tr> -->
                  <tr>
                    <td>
                      <a href="mailto:payapp54@gmail.com" target="_top">payapp54@gmail.com</a>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>+91 919-91-91-919</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="row text-center">
              <div class="col-sm-12 invoice-btn-group">
                <button type="button" class="btn btn-primary btn-print-invoice waves-effect waves-light m-b-10 btn-sm m-r-20">Print Invoice
                </button>
                <button type="button" class="btn btn-danger waves-effect waves-light m-b-10 btn-sm">Cancel Invoice
                </button>
              </div>
            </div>
          </div> -->
      </div>
      <div class="card-body">
        <div>
          <div class="row">
            <h5>Parent Information :</h5>
            <br>
            <table class="table table-responsive invoice-table invoice-order table-borderless">
              <tbody>
                <tr>
                  <th>Name :</th>
                  <td>{{transaction.parent.name}}</td>
                </tr>
                <tr>
                  <th>Phone Number :</th>
                  <td>
                    {{transaction.parent.phone}}
                  </td>
                </tr>
                <tr>
                  <th>Email :</th>
                  <td>
                    {{transaction.parent.email}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <br>

          <div class="row">
            <h5>School Information :</h5>
            <br>
            <table class="table table-responsive invoice-table invoice-order table-borderless">
              <tbody>
                <tr>
                  <th>Name :</th>
                  <td>{{transaction.school.name}}</td>
                </tr>
                <tr>
                  <th>Phone Number :</th>
                  <td>
                    {{transaction.school.phone}}
                  </td>
                </tr>
                <tr>
                  <th>Email :</th>
                  <td>
                    {{transaction.school.email}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <br>

          <div class="row">
            <h5>Child Information :</h5>
            <table class="table table-responsive invoice-table invoice-order table-borderless">
                <tbody>
                  <tr>
                    <th>Name :</th>
                    <td>{{transaction.child.firstName}} {{transaction.child.lastName}}</td>
                  </tr>
                  <tr>
                    <th>Class :</th>
                    <td>
                      {{transaction.child.grade}}
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>

          <br>
        </div>
        <div class="row">
          <div>
            <h5>Payment Information :</h5>
            <table class="table table-responsive invoice-table invoice-order table-borderless">
              <tbody>
                <tr>
                  <th>Date :</th>
                  <td>{{transaction.transactionDate}}</td>
                </tr>
                <tr>
                  <th>Amount :</th>
                  <td>
                    {{transaction.amount}}
                  </td>
                </tr>
                <tr>
                  <th>Payment Account Number :</th>
                  <td>
                    {{transaction.parentAccount.accountNumber}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-sm-12">
            <h6>Terms And Condition :</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor </p>
          </div>
        </div> -->
      </div>
    </div>
    <!-- Invoice card end -->
  </div>
</div>