<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xl-12 col-md-12">
      <app-card>
        <!-- <div *ngIf="accounts.length === 0">
          
        </div> -->
        <simple-notifications [options]="notiOptions"></simple-notifications>
        <div *ngIf="loading">
          <h6 class="text-center">Please wait while we fetch your data</h6>
          <div class="loader-block">
            <svg id="loader2" viewBox="0 0 100 100">
              <circle class="loader-info" id="circle-loader2" cx="50" cy="50" r="45"></circle>
            </svg>
          </div>
        </div>
        <div *ngIf="!loading">
          <div *ngIf="accounts === undefined">
            <h1>Sorry :(</h1>
            <p>An error occured. Please try again later</p>
          </div>
          <div *ngIf="length === 0">
            <h1>Sorry :(</h1>
            <p>You have not added any accounts</p>
          </div>
          <div *ngFor="let item of accounts" class="col-md-12 col-xl-6">
            <div class="card bg-c-yellow notification-card">
              <div class="card-block">
                <div class="row align-items-center">
                  <div class="col-4 notify-icon">
                    <i class="fa fa-credit-card"></i>
                  </div>
                  <div class="col-8 notify-cont">
                    <h4>{{item.accountName}}</h4>
                    <p>
                      {{item.accountNumber}}
                    </p>
                    <p>
                      <a [routerLink]="['/','account', 'id', item.accountId]">View Account Details</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button id="goToAdd" title="Add An account" (click)="goToAdd()" class="btn text-center btn-info btn-icon">
          <i class="icofont icofont-plus"></i>
        </button>
      </app-card>
    </div>
  </div>
</div>