<div class="page-body">
  <div class="container-fluid">
    <div>
      <!-- <div class="row">
        <ngb-carousel class="header-img">
          <ng-template ngbSlide>
            <img class="img img-fluid" src="assets/images/contact/contact1.png" alt="Random first slide">
            <div class="carousel-caption">
              <h2 class="text-info">PayApp</h2>
              <h4 class="text-info">Contact Us</h4>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="img img-fluid" src="assets/images/contact/contact2.jpg" alt="Random second slide">
            <div class="carousel-caption">
              <h2>PayApp</h2>
              <h4>We would love to hear from you</h4>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div> -->
    <!-- <hr> -->
    <div>
      <div class="col-xl-12 col-sm-12 col-md-12">
        <div>
          <h3>Send us a message</h3>
          <form role="form" (ngSubmit)="onSubmit()">
            <fieldset class="form-group" [ngClass]="{'form-control-danger': contactForm.controls['name'].hasError('required') && contactForm.controls['name'].touched}">
              <label for="name">Full Name</label>
              <input name="name" id="name" type="text" [formControl]="contactForm.controls['name']" class="form-control" [ngClass]="{'form-control-danger': contactForm.controls['name'].hasError('required') && contactForm.controls['name'].touched}"
                placeholder="Full Name" />
              <div class="col-label-text" *ngIf="contactForm.controls['name'].hasError('required') && contactForm.controls['name'].touched">Full name is required</div>
            </fieldset>
            <fieldset class="form-group" [ngClass]="{'form-control-danger': contactForm.controls['email'].hasError('required') && contactForm.controls['email'].touched || contactForm.controls['email'].hasError('email') && contactForm.controls['email'].dirty}">
              <label for="email">Email Address</label>
              <input name="email" id="email" type="email" [formControl]="contactForm.controls['email']" class="form-control" [ngClass]="{'form-control-danger': contactForm.controls['email'].hasError('required') && contactForm.controls['email'].touched || contactForm.controls['email'].hasError('email') && contactForm.controls['email'].dirty}"
                placeholder="Email Address" />
              <div class="col-label-text" *ngIf="contactForm.controls['email'].hasError('required') && contactForm.controls['email'].touched">Email is required</div>
              <div class="col-label-text" *ngIf="contactForm.controls['email'].hasError('email') && contactForm.controls['email'].dirty">Enter a valid email like: user@domain.com</div>
            </fieldset>
            <fieldset class="form-group" [ngClass]="{'form-control-danger': contactForm.controls['phone'].hasError('required') && contactForm.controls['phone'].touched}">
              <label for="phone">Phone Number</label>
              <input name="phone" id="phone" type="number" [formControl]="contactForm.controls['phone']" class="form-control" [ngClass]="{'form-control-danger': contactForm.controls['phone'].hasError('required') && contactForm.controls['phone'].touched}"
                placeholder="Phone Number" />
              <div class="col-label-text" *ngIf="contactForm.controls['phone'].hasError('required') && contactForm.controls['phone'].touched">Phone Number is required</div>
            </fieldset>
            <fieldset class="form-group" [ngClass]="{'form-control-danger': contactForm.controls['message'].hasError('required') && contactForm.controls['message'].touched}">
              <label for="message">Enter your message here</label>
              <textarea [formControl]="contactForm.controls['message']" name="message" id="message" rows="5" cols="50" class="form-control col-xl-6 col-md-6 col-sm-6"
                maxlength="1500" wrap="soft" placeholder="Send us a message but keep it simple">
              </textarea>
            </fieldset>
            <fieldset class="row m-t-30">
              <div class="align-right col-md-12">
                <button type="submit" [disabled]="!contactForm.valid" class="btn col-sm-5 btn-grd-success btn-round btn-md waves-effect text-center m-b-20">Contact</button>
                <button type="reset" class="btn btn-grd-danger btn-round col-sm-5 btn-md waves-effect text-center m-b-20">Clear</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>