<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-card>
        <div class="container">
          <div class="card-header">
            <!-- <h5 class="card-header-text">Child Info</h5> -->
            <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="toggleEditStudent()">
              <i class="fa {{ editStudentIcon }}"></i>
            </button>
            &nbsp;
            <button class="btn btn-sm btn-danger waves-effect waves-light f-right" (click)="removeChild()">
              <i class="fa fa-trash"></i>
            </button>
          </div>
          <div *ngIf="isLoading">
            <h6 class="text-center">Please wait while we fetch your data</h6>
            <div class="loader-block">
              <svg id="loader2" viewBox="0 0 100 100">
                <circle class="loader-info" id="circle-loader2" cx="50" cy="50" r="45"></circle>
              </svg>
            </div>
          </div>
          <div *ngIf="!isLoading" class="card-body">
            <div *ngIf="student === undefined">
              <h1>Sorry :(</h1>
              <p>An error occured while retrieving the data</p>
            </div>
            <div class="view-info" *ngIf="editStudent">
              <div class="row">
                <div class="col-lg-12">
                  <div class="general-info">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="table-responsive">
                          <table class="table m-0">
                            <tbody>
                              <tr>
                                <th scope="row">First Name</th>
                                <td>{{student.firstName}}</td>
                              </tr>
                              <tr>
                                <th scope="row">Last Number</th>
                                <td>{{student.lastName}}</td>
                              </tr>
                              <tr>
                                <th scope="row"> Age</th>
                                <td>{{student.age}}</td>
                              </tr>
                              <tr>
                                <th scope="row">School</th>
                                <td>{{student.schoolName}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of general info -->
                </div>
                <!-- end of col-lg-12 -->
              </div>
              <!-- end of row -->
            </div>
            <!-- end of view-info -->
            <div class="edit-info" *ngIf="!editStudent">
              <form>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="general-info">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="table-responsive">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td>
                                    <label for="firstName">First Name</label>
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                      </span>
                                      <input type="text" id="firstName" value="{{student.firstName}}" #firstName class="form-control" placeholder="{{student.firstName}}">
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <label for="lastName">Last Name</label>
                                    <input value="{{student.lastName}}" id="lastName" #lastName class="form-control" type="text" placeholder="{{student.lastName}}"
                                    />
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <label for="age">Age</label>
                                    <input value="{{student.age}}" id="age" #age class="form-control" placeholder="{{student.age}}" />
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <!-- end of row -->
                      <div class="text-center">
                        <button class="btn btn-primary waves-effect waves-light m-r-20" (click)="update()">Save</button>
                        <button id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditStudent()">Cancel</button>
                      </div>
                    </div>
                    <!-- end of edit info -->
                  </div>
                  <!-- end of col-lg-12 -->
                </div>
              </form>
              <!-- end of row -->
            </div>
            <!-- end of edit-info -->
          </div>
        </div>
        <button id="goBack" title="Go back" class="btn btn-info btn-icon" (click)="goBack()">
          <i class="fa fa-arrow-left"></i>
        </button>
      </app-card>
    </div>
  </div>
</div>