<div class="container">
  <div class="col-sm-12">
    <simple-notifications [options]="notiOptions"></simple-notifications>
    <app-card>
      <div *ngIf="loading">
        <h6 class="text-center">Please wait while we fetch your data</h6>
        <div class="loader-block">
          <svg id="loader2" viewBox="0 0 100 100">
            <circle class="loader-info" id="circle-loader2" cx="50" cy="50" r="45"></circle>
          </svg>
        </div>
      </div>
      <div class="col-sm-12 col-xl-12 col-lg-12 col-md-12" *ngIf="!loading">
        <div *ngIf="length === undefined">
          <h1>Sorry</h1>
          <p>An error occured while retrieving your transactions</p>
        </div>
        <div *ngIf="length === 0">
          <div *ngIf="mIsSchool">
            <h1>Sorry</h1>
            <p>No payments have been made to you yet</p>
          </div>
          <div *ngIf="mIsParent">
            <h1>No Payment</h1>
            <p>You haven't made any payments yet</p>
          </div>
        </div>
        <table *ngIf="length > 0" class="table table-lg table-hover table-responsive">
          <thead>
            <tr>
              <th>Amount</th>
              <th>Date of Payment</th>
              <th *ngIf="mIsParent">School Name</th>
              <th *ngIf="mIsSchool">Parent Name</th>
              <th>Child Name</th>
              <th>Payment Account</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of trans">
              <td>{{t.amount}}</td>
              <td>{{t.transactionDate}}</td>
              <td *ngIf="mIsParent">{{t.school.name}}</td>
              <td *ngIf="mIsSchool">{{t.parent.name}}</td>
              <td>{{t.child.firstName}} {{t.child.lastName}}</td>
              <td>{{t.parentAccount.accountNumber}}</td>
              <td>
                <a title="view transaction details" [routerLink]="['/', 'payment', 'id', t.transactionId]">
                  <i aria-label="view transaction details" class="fa fa-eye"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>