<div class="page-body">
  <div class="container-fluid">
    <div class="row">
      <h2>About Us</h2>
      <!-- <ngb-carousel class="header-img"> -->
        <!-- <ng-template ngbSlide>
          <img class="img img-fluid" src="assets/images/about/about1.jpg" alt="Random first slide">
          <div class="carousel-caption">
            <h2 class="text-info">PayApp</h2>
            <h4 class="text-info">About Us</h4>
          </div>
        </ng-template> -->
        <!-- <ng-template ngbSlide>
          <img class="img img-fluid" src="assets/images/about/about2.png" alt="Random second slide">
          <div class="carousel-caption">
            <h2>Want to learn more?</h2>
            <h4 class="text-left text-black">Find out about us</h4>
          </div>
        </ng-template> -->
        <!-- <ng-template ngbSlide>
          <img class="img img-fluid" src="assets/images/about/aboutus.jpg" alt="Random second slide">
          <div class="carousel-caption">
            <h2>Want to know something?</h2>
            <h4 class="text-right text-black">We have got you covered</h4>
          </div>
        </ng-template> -->
      <!-- </ngb-carousel> -->
    </div>
    <!-- <hr/> -->
    <div class="row">
      <div class="col-md-12">
        <h4>PayApp is an app that is meant to reduce the workload involved in payment and collection of fees.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>
          Most parents have to wait in long queues before they can pay fees for their children and that time could have been spent
          doing something else. PayApp has come to reduce the waiting in queues and aid as much as possible in the payment
          process.
        </h4>
      </div>
    </div>
  </div>
</div>