<div class="page-body">
  <!-- Row start -->
  <div class="row">
    <!-- Multiple Open Accordion start -->
    <div class="col-lg-6">
      <app-card [title]="'ALL CLOSE ACCORDION'" [blockClass]="'accordion-block'" [cardOptionBlock]="true">
        <ngb-accordion [closeOthers]="false" #acc="ngbAccordion" class="ngb-accordion">
          <ngb-panel id="ngb-close-p1" title="Lorem Message 1">
            <ng-template ngbPanelContent>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="ngb-close-p2" title="Lorem Message 2">
            <ng-template ngbPanelContent>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="ngb-close-p3" title="Lorem Message 3">
            <ng-template ngbPanelContent>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </app-card>
    </div>
    <!-- Multiple Open Accordion ends -->
    <!-- Single Open Accordion start -->
    <div class="col-lg-6">
      <app-card [title]="'ALL Open ACCORDION'" [blockClass]="'accordion-block'" [cardOptionBlock]="true">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-open-p1" class="ngb-accordion">
          <ngb-panel id="ngb-open-p1" title="Lorem Message 1">
            <ng-template ngbPanelContent>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="ngb-open-p2" title="Lorem Message 2">
            <ng-template ngbPanelContent>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="ngb-open-p3" title="Lorem Message 3">
            <ng-template ngbPanelContent>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </app-card>
    </div>
    <!-- Single Open Accordion ends -->
  </div>
  <!-- Row end -->
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'COLOR ACCORDION'" [blockClass]="'accordion-block'" [cardOptionBlock]="true">
        <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-color-p1" class="ngb-accordion color-accordion">
          <ngb-panel id="ngb-color-p1" title="Lorem Message 1">
            <ng-template ngbPanelContent>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="ngb-color-p2" title="Lorem Message 2">
            <ng-template ngbPanelContent>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="ngb-color-p3" title="Lorem Message 3">
            <ng-template ngbPanelContent>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </app-card>
    </div>
  </div>
</div>
