<section class="login bg-school p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="signup-card card-block auth-body mr-auto ml-auto">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="md-float-material">
            <div class="text-center">
              <!-- <img src="assets/images/logo.png" alt="Gradient Able"> -->
              <h3>PayApp - Sign Up for Schools</h3>
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Sign up and Collect Fees the easy way</h3>
                </div>
                <simple-notifications [options]="notificationOptions"></simple-notifications>
              </div>
              <hr/>
              <fieldset class="form-group text-left" [ngClass]="{'form-control-danger': form.controls['name'].hasError('required') && form.controls['name'].touched}">
                <input type="text" [formControl]="form.controls['name']" class="form-control" [ngClass]="{'form-control-danger': form.controls['name'].hasError('required') && form.controls['name'].touched }"
                  placeholder="Enter School name">
                <span class="md-line"></span>
                <div class="col-form-label" *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">School Name is required</div>
              </fieldset>


              <fieldset class="form-group text-left" [ngClass]="{'form-control-danger': form.controls['email'].hasError('required') && form.controls['email'].touched || form.controls['email'].hasError('email') && form.controls['email'].dirty}">
                <input type="email" [formControl]="form.controls['email']" class="form-control" [ngClass]="{'form-control-danger': form.controls['email'].hasError('required') && form.controls['email'].touched}"
                  [ngClass]="{'form-control-danger': form.controls['email'].hasError('email') && form.controls['email'].dirty}"
                  placeholder="Your Email Address">
                <span class="md-line"></span>
                <div class="col-form-label" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">Email is required</div>
                <div class="col-form-label" *ngIf="form.controls['email'].hasError('email') && form.controls['email'].dirty">Enter a valid email like: user@domain.com</div>
              </fieldset>

              <fieldset class="form-group text-left" [ngClass]="{'form-control-danger': form.controls['phone'].hasError('required') && form.controls['phone'].touched}">
                <input type="number" class="form-control" [formControl]="form.controls['phone']" [ngClass]="{'form-control-danger': form.controls['phone'].hasError('required') && form.controls['phone'].touched}"
                  placeholder="Phone Number">
                <span class="md-line"></span>
                <div class="col-form-label" *ngIf="form.controls['phone'].hasError('number') && form.controls['phone'].dirty">Phone Number should be digits</div>
                <div class="col-form-label" *ngIf="form.controls['phone'].hasError('required') && form.controls['phone'].touched">Phone Number is required</div>
              </fieldset>


              <fieldset class="form-group text-left" [ngClass]="{'form-control-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}">
                <input type="password" [formControl]="form.controls['password']" [ngClass]="{'form-control-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}"
                  class="form-control" placeholder="Enter Password">
                <span class="md-line"></span>
                <div class="col-form-label" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password is required</div>
              </fieldset>

              <fieldset class="form-group text-left" [ngClass]="{'form-control-danger': form.controls['rpassword'].hasError('required') && form.controls['rpassword'].touched || form.controls['rpassword'].hasError('equalTo') && form.controls['rpassword'].dirty}">
                <input type="password" [formControl]="form.controls['rpassword']" [ngClass]="{'form-control-danger': form.controls['rpassword'].hasError('required') && form.controls['rpassword'].touched || form.controls['rpassword'].hasError('equalTo') && form.controls['rpassword'].dirty}"
                  class="form-control" placeholder="Confirm Password">
                <span class="md-line"></span>
                <div class="col-form-label" *ngIf="form.controls['rpassword'].hasError('equalTo') && form.controls['rpassword'].dirty">Passwords do not match</div>
                <div class="col-form-label" *ngIf="form.controls['rpassword'].hasError('required') && form.controls['rpassword'].touched">Confirm password is required</div>
              </fieldset>

              <fieldset class="row m-t-25 text-left" [ngClass]="{'form-control-danger': form.controls['check'].hasError('required')}">
                <div class="col-md-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" [formControl]="form.controls['check']" required="true">
                      <span class="cr">
                        <i class="cr-icon fa fa-check txt-primary"></i>
                      </span>
                      <span class="text-inverse">I read and accept
                        <a href="javascript:">Terms &amp; Conditions.</a>
                      </span>
                      <div class="col-form-label" *ngIf="form.controls['check'].hasError('required')">You must agree to terms and conditions</div>
                    </label>
                  </div>
                </div>
              </fieldset>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign up now</button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-2 center">
                  <!-- <img src="assets/images/auth/Logo-small-bottom.png" alt="Gradient Able"> -->
                  <a [routerLink]="['/']">Go Home</a>
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>