<section class="login bg-login p-fixed d-flex text-left bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="md-float-material">
            <div>
              <!-- <img src="assets/images/logo.png" alt="Gradient Able"> -->
              <h3>Payapp - Sign In</h3>
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign In</h3>
                </div>
                <simple-notifications [options]="infoOptions"></simple-notifications>
              </div>
              <hr/>
              <fieldset class="form-group" [ngClass]="{'form-control-danger': loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched || loginForm.controls['email'].hasError('email') && loginForm.controls['email'].dirty}">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="icofont icofont-email"></i>
                  </span>
                  <input type="email" class="form-control" [formControl]="loginForm.controls['email']" [ngClass]="{'form-control-danger': loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched || loginForm.controls['email'].hasError('email') && loginForm.controls['email'].dirty}"
                    placeholder="Your Email Address">
                  <!-- <span class="md-line"></span> -->
                </div>
                <div class="col-form-label text-center" *ngIf="loginForm.controls['email'].hasError('email') && loginForm.controls['email'].dirty">Enter A Valid Email</div>
                <div class="col-form-label text-center" *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">Email is required</div>
              </fieldset>

              <fieldset class="form-group" [ngClass]="{'form-control-danger': loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched}">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="icofont icofont-lock"></i>
                  </span>
                  <input type="password" class="form-control" [formControl]="loginForm.controls['password']" [ngClass]="{'form-control-danger': loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched}"
                    placeholder="Password">
                  <!-- <span class="md-line"></span> -->
                </div>
                <div class="col-form-label" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password is Required</div>
              </fieldset>

              <div class="row m-t-25 text-left">
                <div class="col-12">
                  <div class="checkbox-fade fade-in-primary d-">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr">
                        <i class="cr-icon fa fa-check txt-primary"></i>
                      </span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                  <div>
                    <span class="text-inverse">Are you new?
                      <a [routerLink]="['/', 'auth','registration', 'parent']">
                        <b>Sign Up As Parent</b>
                      </a>
                    </span>
                    <br/>
                    <span class="text-inverse">Are you new?
                      <a [routerLink]="['/', 'auth','registration', 'school']">
                        <b>Sign Up As School</b>
                      </a>
                    </span>
                  </div>
                  <div class="forgot-phone text-right f-right">
                    <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> Forgot Password?</a>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign in</button>
                </div>
              </div>
              <div class="row">
                <a [routerLink]="['/']">Go Home</a>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>